/Back/HMP/nbproject/private/
/Back/HMP/HMP-war/nbproject/private/
/Back/HMP/HMP-ejb/nbproject/private/
/Back/HMP/HMP-ejb/build/
/Back/HMP/build/
/Back/HMP/dist/
/Back/HMP/HMP-ejb/dist/
/Back/HMP/HMP-war/build/
/Back/HMP/HMP-war/dist/
/Back/DB/derby.txt
/Back/DB/derby.properties
/Back/DB/derby.log
/Back/DB/HMP/db.lck
*.dat
